apiVersion: apps/v1
kind: Deployment
metadata:
  name: pensamiento-computacional
  labels:
    app: pensamiento-computacional
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pensamiento-computacional
  template:
    metadata:
      labels:
        app: pensamiento-computacional
    spec:
      containers:
        - name: app
          image: pensamiento-computacional:local
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: "default"
          readinessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 20
